
{% extends 'base.html' %}

{% block title %}CvDetector{% endblock title %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="detect">CvDetector <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="heatmap">HeatMap (On Progress)</a>
  </li>
</ul>
{% endblock navbar %}

{% block content %}
<div class="starter-template">
  <h1>Covy Detector!</h1>
  <p class="lead"> See if you are wearing a mask, or keeping social distancing here!<br></p>
  <img src="{{ url_for('video_feed') }}" />
</div>
{% endblock content %}
