
{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block bglink %}
  <style>
    body {
      background-image: url('https://drive.google.com/uc?export=view&id=1ituXevDS4n-LdYARp1vpfg8fMbxetfma');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="detect">CvDetector</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="heatmap">HeatMap</a>
  </li>
</ul>
{% endblock navbar %}

{% block content %}
<div class="starter-template" style="color:white;">
  <h1>Covy Detector</h1>
  <h3><em>by Couch Potatoes</em></h3>
  <p class="lead">A camera that measures and detects signs of safety violation in this time of COVID-19.<br></p>
  <h3 style="padding-top:4.5rem;">Features:</h3>
  <p>
    <br>Masks detection <br><br>
    Distance measurement <br><br>
    HeatMap Tracing (Script)<br>
  </p>

  <div style="padding-top:4.5rem;">
    <button type="button" class="btn btn-secondary" href="detect">Try CvDetector!</button>
    <button type="button" class="btn btn-secondary" href="detect">Try HeatMap!</button>
  </div>

</div>
{% endblock content %}
