
{% extends 'base.html' %}

{% block title %}Home Page{% endblock title %}

{% block bglink %}
  <style>
    body {
      background-image: url('https://drive.google.com/uc?export=view&id=1ituXevDS4n-LdYARp1vpfg8fMbxetfma');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block navbar %}
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="detect">SocialDistancingDetector</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="heatmap">HeatMap</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="mask">MaskDetector</a>
  </li>
</ul>
{% endblock navbar %}

{% block content %}
<div class="starter-template" style="color:white;">
  <h1>Covy Detector</h1>
  <h3><em>by Couch Potatoes</em></h3>
  <p class="lead">A system that measures and detects signs of safety violation in this time of COVID-19.<br></p>
  <h3 style="padding-top:4.5rem;">Features:</h3>
  <p>
    <br>Masks detection <br><br>
    Distance measurement <br><br>
    HeatMap Tracing<br>
  </p>

  <div>
  <iframe style="padding-top:4.5rem;" src="https://www.youtube.com/embed/wm8_m5Zrh5A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>

  <div style="padding-top:4.5rem;">
    <a type="button" class="btn btn-secondary" href="detect"><em>Try SoicalDistancingDetector!</em></a>
    <a type="button" class="btn btn-secondary" href="heatmap"><em>Try HeatMap!</em></a>
    <a type="button" class="btn btn-secondary" href="mask"><em>Try MaskDetector!</em></a>
  </div>

</div>
{% endblock content %}
